<div class="flex flex-col min-h-screen bg-stone-900">
  <!-- Add a flex-grow div before the footer -->
  <div class="flex-grow">
    <app-navbar></app-navbar>

    <router-outlet></router-outlet>   

    <div id="profile" *ngIf="showProfile">
      <app-dashboard></app-dashboard>
    </div>

    <div id="skills">
      <app-skills></app-skills>
    </div>
    <div id="works">
      <app-works></app-works>
    </div>
    <div id="contact">
      <app-contact></app-contact>
    </div>
  
  </div>

<!-- <app-footer *ngIf="showFooter"></app-footer> -->
</div>

