<div id="preloader" class="fixed inset-0 bg-stone-900 flex flex-col justify-center items-center z-50 transition-opacity duration-500">
  <div class="text-4xl font-semibold text-cyan-600 animate-pulse" id="loading-percentage">0%</div>
  <img src="assets/SA.png" alt="Logo" class="w-100 h-96 animate-pulse mt-5">
</div>

<div class="flex flex-col min-h-screen bg-stone-900">
  <app-navbar [isLoading]="isLoading"></app-navbar>

  <div class="flex-grow">
    <router-outlet></router-outlet>   
    <div id="profile" *ngIf="showProfile">
      <app-dashboard></app-dashboard>
    </div>

    <div id="skills">
      <app-skills></app-skills>
    </div>
    <div id="works">
      <app-works></app-works>
    </div>
    <div id="contact">
      <app-contact></app-contact>
    </div>
  </div>
  <app-chatbot></app-chatbot>
</div>


