<!-- chatbox.component.html -->
<div>
  <!-- Chatbox Toggle Button -->

  <button
    (click)="toggleChatbox()"
    type="button"
    class="bottom-4 right-16 fixed md:bottom-4 md:right-4 p-3 border border-cyan-300 text-cyan-300 bg-stone-900 hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-3 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 me-2 mb-2"
  >
    <lord-icon
      class="w-6 h-6 me-2 -ms-1"
      trigger="loop"
      src="assets/smile.json"
      id="myLottieIcon"
    >
    </lord-icon>
    Ask a Question

    <svg
      *ngIf="!isChatboxVisible"
      class="w-6 h-6 text-cyan-300 dark:text-white ml-12"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m5 15 7-7 7 7"
      />
    </svg>

    <svg
      *ngIf="isChatboxVisible"
      class="w-6 h-6 text-cyan-300 dark:text-white ml-12"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 9-7 7-7-7"
      />
    </svg>
  </button>

  <!-- Chatbox -->
  <div
  *ngIf="isChatboxVisible"
  class="fixed bottom-24 right-8 md:bottom-20 md:right-4 border border-cyan-300 w-80 h-96 md:w-96 md:h-[600px] bg-stone-900 rounded-lg shadow-lg flex flex-col"
>
  <div
    class="bg-stone-900 border border-cyan-300 text-gray-200 p-4 flex justify-between items-center rounded-t-lg"
  >
    <h4><strong>ChatBot</strong></h4>
    <div class="flex space-x-2">
      <button (click)="refreshChatbox()" class="text-xl">
        <svg
          class="w-4 h-4 text-white dark:text-white mt-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"
          />
        </svg>
      </button>
      <button (click)="closeChatbox()" class="text-xl">&times;</button>
    </div>
  </div>

  <div class="relative flex-1 p-4 overflow-y-auto text-gray-100">
    <!-- Background Image (Fixed) -->
    <img
      src="assets/SA.png"
      alt="Background"
      class="fixed top-[42%] left-[50%] md:top-[45%] md:left-[75%] lg:top-[30%] lg:left-[86%] transform -translate-x-1/2 w-30 h-[230px] md:h-[400px] lg:h-[400px] object-cover opacity-30 pointer-events-none z-0"
    />
    <!-- Chat Content -->
    <div class="relative z-10">
      <div *ngFor="let chat of chatMessages" class="chat-message"> 
        <p>
          <span class="text-gray-300"><strong>{{ chat.sender }}:</strong></span>
          {{ chat.message }}
        </p>
      </div>
      <div *ngIf="isTyping" class="text-gray-300 italic mt-2 animate-pulse">
        sHabEel is typing...
      </div>
    </div>
  </div>

  <div class="p-4 grid grid-cols-1 gap-4">
    <div
      *ngFor="let question of displayedQuestions"
      class="w-full p-2 border border-cyan-300 bg-stone-800 text-gray-300 rounded cursor-pointer hover:bg-cyan-600"
      (click)="sendMessage(question)"
    >
      {{ question }}
    </div>
  </div>
</div>


</div>
